.shopItem {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    width: 200px;
    height: 400px;
    justify-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.itemImage {
    max-height: 180px;
    width: auto;
}